---
import slugify from "slugify";
import ContactForm from "@components/ContactForm";
import Layout from "@layouts/Layout.astro";
import { siteConfig } from "config";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  return allPosts.map((entry) => ({
    params: { slug: entry.slug },
    props: {
      entry,
    },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  author={siteConfig.author}
  description={entry.data.description}
  ogImage={entry.data.heroImage ? entry.data.heroImage : siteConfig.image}
  title={entry.data.title}
>
  <h1>{entry.data.title}</h1>
  {
    entry.data.description && (
      <p class="description">{entry.data.description}</p>
    )
  }
  <div class="date">
    {
      entry.data.date.toLocaleDateString("en-us", {
        month: "long",
        day: "numeric",
        year: "numeric",
      })
    }
  </div>
  {
    entry.data.heroImage && (
      <Image
        src={entry.data.heroImage}
        alt={entry.data.heroImageAlt ? entry.data.heroImageAlt : null}
        width={720}
        height={480}
        class="responsive"
      />
    )
  }
  <div class="caption">
    {entry.data.heroImageAlt}
    {
      entry.data.heroImageSource && (
        <Fragment>
          (
          <a href={entry.data.heroImageSourceUrl}>
            {entry.data.heroImageSource}
          </a>
          )
        </Fragment>
      )
    }
  </div>
  <Content />
  <div class="tags">
    <ul>
      {
        entry.data.tags.map((tag) => (
          <li>
            <a href={`/tag/${slugify(tag, { lower: true })}/`}>#{tag}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <ContactForm client:visible />
</Layout>

<style>
  h1 {
    font-size: 2.2rem;
    line-height: 120%;
    margin-bottom: 0;
  }
  .date {
    color: var(--color-text-contrast);
    padding-bottom: 2rem;
  }
  .description {
    margin-bottom: 1.3rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
  .featured {
    margin-top: 2rem;
  }
  .caption {
    margin-bottom: 2rem;
  }
  .caption a {
    font-weight: normal;
    color: var(--color-box-border);
    border-bottom: 1px dotted var(--color-box-border);
  }
  .tags {
    margin-top: 3.3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--color-box-border);
    padding-bottom: 3rem;
  }
  .tags ul {
    display: block;
    font-weight: 700;
    margin-left: 0;
    padding-left: 0;
  }
  .tags li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .tags li a {
    color: var(--color-highlight);
    text-decoration: none;
  }
  .tags li a:hover {
    text-decoration: underline;
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 2.8rem;
      line-height: 3.7rem;
    }
    .tags ul {
      display: inline;
    }
  }
</style>
