---
import Layout from "@layouts/Layout.astro";
import { siteConfig } from "config";
import { getCollection } from "astro:content";
import selfie from "@images/me.jpg";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title={siteConfig.title}>
  <div class="container">
    <div class="hero-text">
      <h2>Greetings, I'm Orion!</h2>
      <p>Welcome to my home on the Web.</p>
      <p>
        I'm a cloud infrastructure engineer and web developer living in NYC. I
        like classical music, gaming, sci-fi, and yoga.
      </p>
    </div>
    <div>
      <img src={selfie.src} alt="Orion Anderson" height={230} width={230} />
    </div>
  </div>
  <h2>Posts</h2>
  {
    posts.map((post) => (
      <div class="box">
        <a href={`/${post.slug}/`}>
          <div class="title">{post.data.title}</div>
        </a>
        <div class="date">
          {new Date(post.data.date).toLocaleDateString("us-en", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </div>
        <div class="description">{post.data.description}</div>
      </div>
    ))
  }
</Layout>

<style>
  a {
    text-decoration: none;
    margin-bottom: 2rem;
    margin-top: 5rem;
    padding-bottom: 3rem;
  }
  a:hover {
    text-decoration: underline;
  }
  .box {
    margin-top: 3rem;
  }
  .date {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--color-box-border);
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
  }
  .title {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .container {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-box-border);
  }
  .hero-text > h2 {
    margin-top: 0;
    color: var(--color-text-base);
  }
  img {
    border-radius: 0.3rem;
  }

  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 2rem;
      border-bottom: 1px solid var(--color-box-border);
    }
    img {
      margin-left: 2rem;
    }
  }
</style>
