---
import slugify from "slugify";
import { getCollection } from "astro:content";
import { siteConfig } from "config";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag: slugify(tag, { lower: true }) },
      props: { posts: filteredPosts, tag },
    };
  });
}

const { posts, tag } = Astro.props;
---

<Layout title={`${tag} | ${siteConfig.title}`}>
  <h1>
    Posts tagged with “{tag}”
  </h1>
  {
    posts.map((post) => (
      <div class="box">
        <a href={`/${post.slug}/`}>
          <div class="title">{post.data.title}</div>
        </a>
        <div class="date">
          {new Date(post.data.date).toLocaleDateString("us-en", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </div>
        <div class="description">{post.data.description}</div>
      </div>
    ))
  }
</Layout>

<style>
  a {
    text-decoration: none;
    margin-bottom: 2rem;
    margin-top: 5rem;
    padding-bottom: 3rem;
  }
  a:hover {
    text-decoration: underline;
  }
  .box {
    margin-top: 3rem;
  }
  .date {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--color-box-border);
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
  }
  .title {
    font-weight: 700;
    font-size: 1.5rem;
  }
</style>