---
import slugify from "slugify";
import { getCollection } from "astro:content";
import PostLink from "@components/PostLink.astro";
import { siteConfig } from "config";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag: slugify(tag, { lower: true }) },
      // params: { tag: slugify(tag, { lower: true }) },
      props: { posts: filteredPosts, tag },
    };
  });
}

const { posts, tag } = Astro.props;
---

<Layout title={`${tag} | ${siteConfig.title}`}>
  <h1>
    Posts tagged with “{tag}”
  </h1>
  {
    posts.map((post) => (
      <PostLink
        title={post.data.title}
        description={post.data.description}
        date={post.data.date.toLocaleDateString("us-en", {
          month: "long",
          day: "numeric",
          year: "numeric",
        })}
        slug={post.slug}
      />
    ))
  }
</Layout>
