---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/jetbrains-mono/wght-italic.css";
import "@fontsource-variable/quicksand";
import "@fontsource-variable/rubik";
import "@fontsource-variable/rubik/wght-italic.css";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { siteConfig } from "config";
import Favicon from "@images/favicon.png";
import "@styles/modern-normalize.css";
import "@styles/global.css";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
}

const {
  title = siteConfig.title,
  author = siteConfig.author,
  description = siteConfig.description,
  ogImage = siteConfig.image,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const socialImageURL = new URL(ogImage ? ogImage : siteConfig.image, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href={Favicon.src} type="image/png" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />
    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />
    <!-- Plausible Proxy -->
    <script
      defer
      data-domain="misterorion.com"
      data-api="/api/event"
      src="/js/script.js"></script>
    <!-- Light/Dark Theme -->
    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <body>
    <main>
      <Header />
      <article>
        <slot />
      </article>
      <Footer />
    </main>
  </body>
</html>
